* {
    box-sizing: border-box;
}

body {
    background-color: #edf2f4;
    margin: 0;
    padding: 0;
}

/*Aca va clase Hover*/
.Boton1 {
    text-decoration: none;
    color: #33ff00;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.Boton1:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33ff00;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

/*Aca va clase Active*/
.Boton2 {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.Boton2:active {
    text-decoration: none;
    color: #ff0000;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

/*Aca va clase Checked*/
.Boton3 {
    text-decoration: none;
    margin-left: 25px;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  div,
select {
  margin: 8px;
}

/* Etiquetas para entradas marcadas */
input:checked + label {
  color: red;
}

/* Elemento Radio, cuando está marcado */
input[type="radio"]:checked {
  box-shadow: 0 0 0 3px orange;
}

/* Elemento Checkbox, cuando está marcado */
input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px hotpink;
}

/* Elementos Option, cuando se seleccionan */
option:checked {
  box-shadow: 0 0 0 3px lime;
  color: red;
}
  


 /*Aca va clase display*/
.Boton4 {
    margin-left: 25px;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

input:default {
    box-shadow: 0 0 1px 2px coral;
  }
  
  input:default + label {
    color: coral;
  }

  /*Aca va clase dir()*/
.Boton5 {
    margin-left: 25px;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

:dir(ltr) {
    background-color: #ffffff;
  }
  
  :dir(rtl) {
    background-color: powderblue;
  }

 /*Aca va clase disabled*/
.Boton6 {
    margin-left: 25px;
    padding: 10px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

input[type="text"]:disabled {
    background: #ccc;
  }

 /*Aca va clase empty*/
 .Boton7 {
    margin-left: 25px;
    padding: 10px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.box {
    background: pink;
    height: 80px;
    width: 80px;
  }
  
  .box:empty {
    background: lime;
  }

/*Aca va clase enabled*/
.Boton8 {
    margin-left: 25px;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

input:enabled {
    color: #2b2;
  }
  
  input:disabled {
    color: #aaa;
  }

/*Aca va clase first*/
.Boton9 {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}

@page :first {
    margin-left: 50%;
    margin-top: 50%;
  }
  
  p {
    page-break-after: always;
  }

/*Aca va clase enabled*/
.Boton10 {
    margin-left: 25px;
    padding: 10px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

p:first-child {
    color: lime;
    background-color: black;
    padding: 5px;
  }